<nav class="navrow">

  <div class="navbar">

    <a href="#" class="brand">Home</a>
    <ul class="navitems">
      <li class="navlink"><a href="#">Check Ads</a></li>
      <li class="navlink"><a href="#">Contact Us</a></li>
      <li class="navlink"><a href="#">About</a></li>
    </ul>

    <a href="#" class="loginbtn"><span class="fa fa-user fa-lg"></span>Sign In</a>

  </div>


</nav>
