<nav class="navrow">

  <div class="navbar">

    <a href="/" class="brand">Home</a>
    <ul class="navitems">
      <li class="navlink"><a href="advertisements">Check Ads</a></li>
      <li class="navlink"><a href="contact">Contact Us</a></li>
      <li class="navlink"><a href="about">About</a></li>
      <li class="navlink"><a href="howitworks">How it Works</a></li>
    </ul>

    <a href="#" class="loginbtn" onclick="showLoginForm()"><span class="fa fa-user fa-lg"></span>Sign In</a>

  </div>
</nav>
<div class="authenticatebg" id="loginbg" onclick="hideAuth(event.target.id)">

  <div class="loginform animated">
      <span class="closeauth fa fa-times fa-lg" id="logincross" onclick="hideAuth(event.target.id)"></span>
      <form action="#" method="post">
        <input type="text" name="username" placeholder="Username or Email" class="authinput">
        <input type="password" name="password" placeholder="Password" class="authinput">
        <button type="submit" class="authsubmit">LOGIN</button>
        <a href="#" class="loginhyperlink" onclick="showRegForm()">Not Registered ?</a>
        <a href="#" class="loginhyperlink">Forgot Password ?</a>
      </form>
  </div>

  <div class="regform animated">
      <span class="closeauth fa fa-times fa-lg" id="regcross" onclick="hideAuth(event.target.id)"></span>
      <form action="#" method="post">
        <input type="text" name="firstname" placeholder="First Name" class="authinputhalf">
        <input type="text" name="lastname" placeholder="Last Name" class="authinputhalf">
        <input type="email" name="email" placeholder="Email" class="authinput">
        <input type="text" name="mobile" placeholder="Mobile Number" class="authinput">
        <input type="password" name="password" placeholder="Choose Password" class="authinputhalf">
        <input type="password" name="passwordmatch" placeholder="Re-enter Password" class="authinputhalf">

        <button type="submit" class="authsubmit">SIGN UP</button>
      </form>
  </div>

</div>
