<html>
<head>
<% include ./partials/head.ejs %>
</head>
<body>
<% include ./partials/header.ejs %>
<div class="">
  This is view for ads..
</div>

<% include ./partials/footer.ejs %>
</body>

</html>
